<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png" alt="" width="498" height="498">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                    <h1 class="h1 "><b>Etui</b> - Sklep z Etui</h1>
                                <h3 class="h2">Najlepsze Etui w Polsce!</h3>
                                <p>
                                    Co tu dużo mówić, posiadamy najlepszy asortyment w Polsce.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png" alt="" width="498" height="498">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                    <h1 class="h1"><b>Etui</b> - Sklep z Etui</h1>
                                    <h3 class="h2">Wysyłka szybsza niż myślisz!</h3>
                                    <p>
                                        Produkt wysyłamy jeszcze tego samego dnia po złożeniu zamówienia.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png" alt="" width="498" height="498">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                    <h1 class="h1"><b>Etui</b> - Sklep z Etui</h1>
                                <h3     class="h2">3 Najlepsze Etui!</h3>
                                    <p>
                                            Co tydzień wybieramy top 3.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <!-- -------------------------------------------------------- -->

    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Polecane produkty</h1>
                <p>
                    Najlepsze produkty dla najlepszych użytkowników
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png"><img src="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Biały</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png"><img src="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Biały</h2>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png"><img src="https://png.pngtree.com/png-vector/20220926/ourmid/pngtree-3d-phone-case-mockup-png-image_6143046.png" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Biały</h2>
            </div>
        </div>
    </section>
    </div>
</body>

</html>