.rcorners1 {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.center {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 70%;
    padding: 10px;
}
